<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css
">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
	{{ form_start(form) }}
		
    	{{ form_row(form.name) }}
    	{{ form_row(form.rotationPeriod) }}
    	{{ form_row(form.orbitalPeriod) }}
    	{{ form_row(form.diameter) }}
    	{{ form_row(form.climate) }}
    	{{ form_row(form.gravity) }}
    	{{ form_row(form.terrain) }}
    	{{ form_row(form.surfaceWater) }}
    	{{ form_row(form.population) }}
    	
	{{ form_end(form) }}
</body>
</html>
