<html>
<head>
	
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 profilePanel" >

                <h2>Personal Details</h2>    
                <div>Name:  {{user.name}}</div>
                <div>Birthday {{ user.birthday|date("m/d/Y") }}</div>
                <br>
                <div>
                    Hobbies:
                    {% if hobbies|length %}
                    <ul>
                    {% for hobby in hobbies %}
                        <li> {{ hobby.hobby}}</li>
                    {% endfor %}            

                    </ul>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-4 profilePanel" >
                <h2>Users In System</h2>
                {% if allUsers|length %}
                    <ul>
                    {% for u in allUsers %}
                        <li> 
                            
                            {{ u.name}}  

                            <span style="display:none" 
                            friendId="{{u.id}}" 
                            myId="{{user.id}}"></span> 

                            {% set show = (u.isFriend)? 'none':'block' %}
                                
                                <i style="display:{{(u.isFriend)? 'block':'none'}}" class="fa fa-users" aria-hidden="true"></i>
                                
                                <i style="display:{{(u.isFriend)? 'none':'block'}}" class="fa fa-plus" aria-hidden="true"></i>
                            
                            
                        </li>
                    {% endfor %}            

                    </ul>
                {% endif %}
            </div>

             <div class="col-lg-3 profilePanel" >
                <h2>My Friends</h2>
                <button id="bringMyFriend" class="btn btn-primary">Show My Friends</button>
                <div id="showList">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 profilePanel">
                <h2>Show birthdays</h2>
                <button id="showBirthday" class="btn btn-primary">Show Birthday Pepole</button>
                <div id="showBirthdayList">

                </div>              
            </div>

            <div class="col-lg-4 profilePanel">
                <h2>Show potential friends</h2>
                <button id="showPotential" class="btn btn-primary">Show potential friends</button>
                <div id="showPotentialList">

                </div>              
            </div>

            <div class="col-lg-3 profilePanel" >
                <h2>Show upcoming birthdays</h2>
                <button id="upcomingButton" class="btn btn-primary">Show upcoming birthdays</button>
                <div id="upcomingList">

                </div>
            </div>
            
        </div>
        
    </div>

    <script type="text/javascript">
         $(document).ready(function(){
            
            
            $("#upcomingButton").on('click',function(){
                $.ajax({
                    url:"{{path('get_upcoming_birthday')}}",
                    type:'post',
                    dataType:'html',
                    success:function(data ){
                        $("#upcomingList").html(data);
                    }
                });
            });

            $("#showPotential").on('click',function(){
                $.ajax({
                    url:"{{path('show_potential')}}",
                    type:'post',
                    dataType:'html',
                    success:function(data ){
                        $("#showPotentialList").html(data);
                    }
                });
            });
            $("#showBirthday").on('click',function(){
                $.ajax({
                    url:"{{path('get_birthday_pepole')}}",
                    type:'post',
                    dataType:'html',
                    success:function(data ){
                        $("#showBirthdayList").html(data);
                    }
                });
            });

            $("#bringMyFriend").on('click',function(){
                $.ajax({
                    url:"{{path('get_my_Friends')}}",
                    type:'post',
                    dataType:'html',
                    success:function(data ){
                        $("#showList").html(data);
                    }
                });
            });

            $(".fa-plus").on('click',function(){
                
                var data = $(this).siblings()[0];
                var friendId = parseInt($(data).attr('friendId'));

                $.ajax({
                    url:"{{path('AddFriend')}}",
                    data:{friendId:friendId},
                    type:'post',
                    dataType:'json',
                    success:function(data ){
                        
                        if(data.status === true){

                            var element = $("span[friendId='"+data.friendId+"'][myId='"+data.myUserId+"']");
                            
                            $(element.siblings()[0]).show();
                            $(element.siblings()[1]).hide();
                            if(data.deleted){
                                var deletedId = parseInt(data.deletedId);

                            var elementDeleted = $("span[friendId='"+deletedId+"'][myId='"+data.myUserId+"']");
                                $(elementDeleted.siblings()[0]).hide();
                                $(elementDeleted.siblings()[1]).show();
                            }
                        }else{

                        }
                    }
                });
            });
        });
    	
    </script>
</body>
</html>